@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  font-family: "Ubuntu";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html,
body,
.wrapper {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/background.jpg");
  background-repeat: no repeat;
  animation: rotate 15s infinite alternate linear;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.header {
  margin-top: 20px;
  width: 50%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid rgb(34, 115, 126);
}

.button-header {
  font-size: 20px;
  font-weight: 400;
}

.button-header-dashboard {
  font-size: 20px;
  font-weight: 400;
}

.button-header-dashboard > a {
  font-size: 20px;
  color: rgb(34, 115, 126);
  font-weight: 400;
}

.button-header-exit {
  font-size: 20px;
  font-weight: 400;
}

.button-header-exit > a {
  color: rgb(255, 135, 135);
  transition: all 1s;
}

.button-header-exit > a:hover {
  color: rgb(255, 0, 0);
  font-weight: 400;
}

a {
  color: rgb(255, 255, 255);
  transition: all 1s;
}

a:hover {
  font-weight: 400;
  color: rgb(0, 255, 255);
}

.line-main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.line {
  width: 100%;
  height: 30vh;
  justify-content: space-evenly;
  margin-top: 5px;
  display: flex;
}

.dashboard-box {
  border-radius: 10px;
  border: 2px solid rgb(34, 115, 126);
  width: 30%;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dashboard-box:hover {
  border: 2px solid rgb(0, 225, 255);
  background: rgba(0, 225, 255, 0.171);
}

.dashboard-display {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  border-bottom: 2px solid rgb(0, 225, 255);
  height: 70%;
  color: #ffff;
  font-size: 50px;
}

.dashboard-text {
  width: 100%;
  height: 30%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
}

@keyframes rotate {
  100% {
    background-position: 15% 50%;
  }
}

@media (width >= 500px) {
  body {
    padding: 0;
  }
  .container {
    margin: 0;
    width: 400px;
  }
}
