@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
}

html,
body,
.wrapper {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0 24px;
  background-image: url("img/background.jpg");
  background-repeat: no repeat;
  color: #000;
  animation: rotate 15s infinite alternate linear;
}

.container {
  position: relative;
  z-index: 3;
  width: 100%;
  margin: 0 20px;
  padding: 70px 30px 44px;
  border-radius: 1.25rem;
  text-align: center;
}

.container > h2 {
  color: #ffff;
  font-size: 36px;
  font-weight: 600;
  margin: 0 12px;
}

.container > h3 {
  color: #ffff;
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 1rem;
}

.login-form {
  width: 100%;
  margin: 0;
  display: grid;
  gap: 16px;
}

.login-form > input,
.login-form > button {
  width: 100%;
  height: 50px;
}

.login-form > input {
  border: none;
  border-bottom: 2px solid #1a51aa;
  background: transparent;
  font-size: 15px;
  padding: 0 16px;
  transition: all 0.375s;
  color: #ffff;
}

.login-form > input::placeholder {
  color: #ffff;
}

.login-form > input:focus {
  outline: none;
  box-shadow: 0 0 0 0;
  border: none;
  color: #ffff;
}

.login-form > input:hover {
  border: none;
  color: #ffff;
  border-bottom: 2px solid #00eeff;
}

.login-form > button {
  cursor: pointer;
  width: 100%;
  padding: 0 16px;
  border-radius: 1.25rem;
  background-color: #2168db;
  color: #f9f9f9;
  border: 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s;
}
.login-form > button:hover {
  background-color: #00eeff;
}

.login-form > a {
  color: #12a5af;
  font-size: 0.9rem;
  text-align: left;
  text-decoration: none;
  margin-bottom: 6px;
  transition: all 0.375s;
}

.login-form > a:hover {
  color: #00eeff;
}

@keyframes rotate {
  100% {
    background-position: 15% 50%;
  }
}

@media (width >= 500px) {
  body {
    padding: 0;
  }
  .container {
    margin: 0;
    width: 400px;
  }
}
