@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&family=Montserrat&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body *{
    background: #093545;
    font-family: 'Lexend Deca';
}

.login-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.login{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.up{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.up > h1{
    font-size: 64px;
    padding: 20px 0px;
}

.up > p{
    font-size: 16px;
}

.down{
    width: 50vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.input-box > input{
    width: 300px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #224957;
    border: none;
    padding: 15px ;
}

.input-box > input::placeholder{
    color: #9c9696;
    font-size: 14px;
}

.forgot-password{
    color: #FFF;
    width: 300px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.forgot-password > input{
    margin: 0px 5px;
    cursor: pointer;
} 

.forgot-password > a{
    text-decoration: none;
    color: #20DF7F;
}

.btn-login{
    color: #FFF;
    width: 300px;
    height: 45px;
    font-size: 16px;
    border-color: #20DF7F;
    box-shadow: 0px 0px 10px 0px rgb(0, 238, 79);
    border-radius: 10px;
    background: #20DF7F;
    cursor: pointer;
}

.btn-login:hover{
    box-shadow: 0px 0px 20px 0px rgb(0, 238, 79);
}
