<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-white" href="/admin">Projeto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active text-white" href="/admin">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link text-white" href="/admin/funcionario/add">Funcion2ario</a>
      <a class="nav-item nav-link text-white" href="#">pagina2</a>
      <a class="nav-item nav-link text-white" href="#">pagina3</a>
    </div>
  </div>
</nav>
